extends /modules/subheader/responsive-subheader.pug

block left
  .controlcenter-subheader.hidden-md
    button.btn.btn-icon.btn-link.button(contextual-sidebar, data-content-template="/controlcenter/app/sidebar/sidebar")
      i.mdi.mdi-menu
  span.title.ellipsis
    |  {{ 'Profile' | translate }}

block right
  button.btn.btn-link.hidden-xs(ng-if="$ctrl.showEditButton", ui-sref="profile.details.edit", ui-sref-opts="{location: 'replace'}")
    .flex-vertical-centered
      i.mdi.mdi-pencil.mdi-margin-right
      span {{ 'Edit' | translate }}
  button.btn.btn-link.btn-icon.visible-xs(ng-if="$ctrl.showEditButton", ui-sref="profile.details.edit", ui-sref-opts="{location: 'replace'}")
    i.mdi.mdi-pencil
