.controlcenter-root.full-width.no-padding-xs(sub-header-aware)
  .col-md-3.col-xl-2.hidden-xs
    profile-sidebar
  ui-view.col-xs-12.col-md-9.col-xl-10.no-padding-xs
    .ui-view(name="root", noanimation="noanimation")
