.profile-tabs
  ul.esn-tab
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="profile.details.view", ui-sref-opts="{location: 'replace'}")
        | {{ 'Profile' | translate }}

    li.btn-wave(ui-sref-active="active", dynamic-directive="profile-tabs")
      identities-tab(ng-if="$ctrl.canEdit")
.ui-view(name="details")
