extends /modules/subheader/responsive-subheader.pug

block left
  .controlcenter-subheader.hidden-md
    button.btn.btn-icon.btn-link.button(contextual-sidebar, data-content-template="/controlcenter/app/sidebar/sidebar")
      i.mdi.mdi-menu
  span.title.ellipsis
    |  {{ 'Followings' | translate }}
